<div class="contents-container" id="videos-container">
  {{#each videos as |video|}}
  <div class="video-card">
    <div class="image-overlay">
      <div class="overlay-button delete-button">
        <div class="video-title" >
          <a id="video-title" href="/{{video._id}}">
          <h2>{{video.title}}</h2>
        </a>
        </div>
        <a href="/{{video._id}}/delete" id="{{video_id}}-delete-button">
          <p>Delete</p>
        </a>
      </div>
      <div class="overlay-button view-button">
        <a href="/{{video._id}}/edit" id="edit-button-{{video_id}}">
          <img src="/img/play.svg" alt="view">
          <p>Edit</p>
        </a>
      </div>
    </div>
    <div class="video-player">
      <iframe class="video-player" src={{video.videoUrl}} frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  {{/each}}
</div>
</div>
<div id="navigation">
  <a href="/create">
    <div class="create-button" id="create-button">
      <p>Add new video</p>
    </div>
  </a>
</div>
